<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/index-style.css" type="text/css" rel="stylesheet" />
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/index-script.js" type="text/javascript"></script>
</head>

<body>
	<div id="wrapper" ng-app="quizApp" ng-controller="contentLoader">
    	<div id="question" ng-repeat="q in quest">
        	<div ng-init="getAnswer(q.id)">{{ q.question }}</div>
        </div>
        <div id="answer">
        	<div id="option" ng-repeat="o in option" ng-click="checkAnswer(o.id_quest, o.answer)">{{ o.answer }}</div>
        </div>
        <div id="toolbar">
        	<div id="menu-wrapper">
            	<span></span>
                <span></span>
                <span></span>
            </div>
            <div id="spin-wrapper">
            	<div id="half-circle">{{ timecount }}</div>
            </div>
            <div>{{ result }}</div>
    </div>
</body>
</html>
